version: '3'
services:
  mariadb:
    image: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: incognito
      MYSQL_USER: user
      MYSQL_PASSWORD: secret
    ports:
      - 3310:3306
